@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme { 

  --font-family: Poppins;
  
  --color-purple: hsl(259, 100%, 65%); 
  --color-red400: hsl(0, 100%, 67%);        
  
  --color-white: hsl(0, 100%, 100%);
  --color-grey100: hsl(0, 0%, 94%);
  --color-grey200: hsl(0, 0%, 86%);
  --color-grey500: hsl(0, 1%, 44%);
  --color-black: hsl(0, 0%, 0%);
}

.error{
  outline: 1px solid hsl(0, 100%, 67%);
}


.slide {
  animation: slideUp 1s ease-in backwards;
}

.slide2 {
  animation: slideUp 1.3s ease-in backwards;
}
.slide3 {
  animation: slideUp 1.5s ease-in backwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(-50px) ;
    opacity: 0.5;
  }

  60% {
    transform: translateY(5px) scale(1.05);
    opacity: 0.75;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}